*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: #ff5c5c;
    background-image: url();
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1,p{
    background-color: aqua;
    color: #ff5c5c;
}
